@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  // outline: 1px solid yellowgreen;
}

.min-h {
  &-page {
    min-height: calc(100vh - 56px);
  }

  &-reservePage {
    min-height: calc(100vh - 200px);
  }
}

.moveR-enter-active,  .moveR-leave-active {
  transition: all 0.2s linear;
  transform: translateX(0);
}
.moveR-enter,  .moveR-leave {
  transform: translateX(-100%);
}
.moveR-leave-to{
  transform: translateX(-100%);
}

.opacityTransition-enter-active,
.opacityTransition-leave-active {
  transition: opacity 0.3s;
}
.opacityTransition-enter,
.opacityTransition-leave-active {
  opacity: 0;
}

.collapseTransition-enter-active,
.collapseTransition-leave-active {
  transition:  0.3s;
  max-height: 100vh;
}
.collapseTransition-enter,
.collapseTransition-leave-active {
  max-height: 0;
}

a.nuxt-link-active {
  font-weight: bold;
}

/* exact link will show the primary color for only the exact matching link */
// TODO: 之後看一下要用stylelint處理還是怎樣之類的。
a.nuxt-link-exact-active {
  @apply text-line #{!important};
  @apply bg-currentColor relative;
  
  &::after{
    @apply absolute h-full w-1 right-px;
    
    content: '';
    background-color: theme('colors.line');
  }
}

body{
  font-family: "Noto Sans TC", sans-serif;
  -webkit-font-smoothing:antialiased;
}